/* 

*{
    box-sizing: border-box;
}
html{
    height: 100%;
   
}
body{
    background-color: $bg-theme-light;
    color: $color-theme-light;
    padding: 20px;
    height: 100vh;
    background-color: blue;
}

*/